# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
.venv-1/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
htmlcov/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# System files
.DS_Store
thumbs.db
